{% comment %}
  Accepts:
  - wrapper_class: {String} CSS wrapper class for the navigation (optional)
  Usage:
  {% include 'social-sharing', wrapper_class: 'site-nav--centered' %}
{% endcomment %}
<ul class="social {{wrapper_class}}">
  {% if settings.social_facebook_link %}
    <li class="mr-1"><a href="{{settings.social_facebook_link}}" target="_blank">{% render 'icon-facebook' %}</a></li>
  {% endif %}
  {% if settings.social_instagram_link %}
    <li class="mr-1"><a href="{{settings.social_instagram_link}}" target="_blank">{% render 'icon-instagram' %}</a></li>
  {% endif %}
  {% if settings.social_twitter_link and settings.social_twitter_link != '' %}
    <li class="mr-1"><a href="{{settings.social_twitter_link}}" target="_blank">{% render 'icon-twitter' %}</a></li>
  {% endif %}
  {% if settings.social_pinterest_link and settings.social_pinterest_link != '' %}
    <li class="mr-1"><a href="{{settings.social_pinterest_link}}" target="_blank">{% render 'icon-pinterest' %}</a></li>
  {% endif %}
  {% if settings.social_tumblr_link and settings.social_tumblr_link != '' %}
    <li class="mr-1"><a href="{{settings.social_tumblr_link}}" target="_blank">{% render 'icon-tumblr' %}</a></li>
  {% endif %}
  {% if settings.social_snapchat_link and settings.social_snapchat_link != '' %}
    <li class="mr-1"><a href="{{settings.social_snapchat_link}}" target="_blank">{% render 'icon-snapchat' %}</a></li>
  {% endif %}
  {% if settings.social_youtube_link and settings.social_youtube_link != '' %}
    <li class="mr-1"><a href="{{settings.social_youtube_link}}" target="_blank">{% render 'icon-youtube' %}</a></li>
  {% endif %}
  {% if settings.social_vimeo_link and settings.social_vimeo_link != '' %}
    <li class="mr-1"><a href="{{settings.social_vimeo_link}}" target="_blank">{% render 'icon-vimeo' %}</a></li>
  {% endif %}
</ul>
